extends layout

block content
	// very helpful when developing
	//h1= 'Page ' + thispage._id	
	//ul
	//	each page, i in thispage
		//	li= i + ' is ' + page

	form(name="goback", method="post", action="page1")
		input(type="hidden", name="1") 
		button(class="link-button", type="submit") <-- Go back to start
	Table
		tr
			td
			td
					if thispage.top == null
						form(name="addtop", method="post",action="/saveSentence")
							input#inputtop(type="text", placeholder="", name="top")
							button(type="submit") Submit
					else
						if thispage.topLink == null
							form(method="post", action="/makePage")
								input(type="hidden", name="topLink") 
								button(class="link-button", type="submit") 
									p= thispage.top
						else			
							form(name="goexisting", method="post", action="/hasPage")
								input(type="hidden", name="topHasPage") 
								button(class="link-button", type="submit") 
									p= thispage.top
			td
		tr
			td
					if thispage.left == null
						form(name="addleft",method="post",action="/saveSentence")
							input#inputleft(type="text", placeholder="", name="left")
							button#btnSubmit(type="submit") Submit
					else
						if thispage.leftLink == null
							form(name="goforward", method="post", action="/makePage")
								input(type="hidden", name="leftLink") 
								button(class="link-button", type="submit") 
									p= thispage.left
						else			
							form(name="goexisting", method="post", action="/hasPage")
								input(type="hidden", name="leftHasPage") 
								button(class="link-button", type="submit") 
									p= thispage.left
			td
					if thispage._id == 1
						p Once upon a time,
					else
						p= thispage.middle
			td
					if thispage.right == null
						form(name="addright",method="post",action="/saveSentence")
							input#inputright(type="text", placeholder="", name="right")
							button#btnSubmit(type="submit") Submit
					else
						if thispage.rightLink == null
							form(name="goforward", method="post", action="/makePage")
								input(type="hidden", name="rightLink") 
								button(class="link-button", type="submit") 
									p= thispage.right
						else			
							form(name="goexisting", method="post", action="/hasPage")
								input(type="hidden", name="botLink") 
								button(class="link-button", type="submit") 
									p= thispage.right
		tr
			td
			td
				
					if thispage.bot == null
						form(name="addbot",method="post",action="/saveSentence")
							input(type="text", placeholder="", name="bot")
							button#btnSubmit(type="submit") Submit
					else
						if thispage.botLink == null
							form(name="goforward", method="post", action="makePage")
								input(type="hidden", name="botLink") 
								button(class="link-button", type="submit") 
									p= thispage.bot
						else			
							form(name="goexisting", method="post", action="hasPage")
								input(type="hidden", name="botHasPage") 
								button(class="link-button", type="submit") 
									p= thispage.bot
			td