extends layout


block content
	//h1= 'Page ' + thispage._id
		
	//ul
	//	each page, i in thispage
		//	li= i + ' is ' + page

	form(name="goback", method="post", action="page1")
		input(type="hidden", name="1") 
		button(class="link-button", type="submit") <-- Go back to start
	Table
		tr
			td
			td
					if thispage.top == null
						form#addtop(name="addtop",method="post",action="/saveSentence")
							input#inputtop(type="text", placeholder="Submit a sentence", name="top")
							button(type="submit") Submit
					else
						if thispage.topLink == null
							form(name="goforward", method="post", action="/makePage")
								input(type="hidden", name="topMakePage") 
								button(class="link-button", type="submit") 
									p= thispage.top
						else			
							form(name="goexisting", method="post", action="/hasPage")
								input(type="hidden", name="topHasPage") 
								button(class="link-button", type="submit") 
									p= thispage.top
							
			td
		tr
			td
				
				
					if thispage.left == null
						form#addleft(name="addleft",method="post",action="/saveSentence")
							input#inputleft(type="text", placeholder="Click on it to follow that story", name="left")
							button#btnSubmit(type="submit") Submit
					else
						if thispage.leftLink == null
							form(name="goforward", method="post", action="/makePage")
								input(type="hidden", name="leftMakePage") 
								button(class="link-button", type="submit") 
									p= thispage.left
						else			
							form(name="goexisting", method="post", action="/hasPage")
								input(type="hidden", name="leftHasPage") 
								button(class="link-button", type="submit") 
									p= thispage.left
			td
					if thispage._id == 1
						p Once upon a time,
					else
						p= thispage.middle
			td
					if thispage.right == null
						form#addright(name="addright",method="post",action="/saveSentence")
							input#inputright(type="text", placeholder="make more story paths!", name="right")
							button#btnSubmit(type="submit") Submit
					else
						if thispage.rightLink == null
							form(name="goforward", method="post", action="/makePage")
								input(type="hidden", name="rightMakePage") 
								button(class="link-button", type="submit") 
									p= thispage.right
						else			
							form(name="goexisting", method="post", action="/hasPage")
								input(type="hidden", name="rightHasPage") 
								button(class="link-button", type="submit") 
									p= thispage.right
		tr
			td
			td
				
					if thispage.bot == null
						form#addbot(name="addbot",method="post",action="/saveSentence")
							input#inputbot(type="text", placeholder="Go back to start at any time", name="bot")
							button#btnSubmit(type="submit") Submit
					else
						if thispage.botLink == null
							form(name="goforward", method="post", action="makePage")
								input(type="hidden", name="botMakePage") 
								button(class="link-button", type="submit") 
									p= thispage.bot
						else			
							form(name="goexisting", method="post", action="hasPage")
								input(type="hidden", name="botHasPage") 
								button(class="link-button", type="submit") 
									p= thispage.bot
			td
